
.slider-container {
  display: flex;
  overflow: hidden;
  width: 98vw;
  height: 98vh;
  position: relative;
  justify-content: center;
}

 .carusel{
  transition: transform 0.5s ease-in;
  display: flex;
  overflow: hidden;
  width: 90%;
}


/*  .slider-item{
  width: auto;
  height: auto;
  position: absolute;
  transition: all 1s ease-in;
  left: 5%;
  top: 0;
 } */


 .carusel img{
  object-fit: cover;
  height: auto;
} 

/* .slide{
  flex-shrink: 0;
  width: 100%;
} */

.slider-controls {
  position: absolute;
  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 1;
  transition: opacity 0.5s ease-in;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.controls-hiddens {
  position: absolute;
  bottom: 2%;
  left: 50%; 
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.btn-next {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 50%;
  right: 1%;
  transition: opacity 0.5s ease-in;
  transform: translateY(-50%); 
  cursor: pointer;
  background-image: url('./img/icons/right_arrow.svg');
  background-position: center;
  border-radius: 50%;
}

.btn-prev {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 50%; 
  left: 1%;
  transition: opacity 0.5s ease-in;
  transform: translateY(-50%); 
  cursor: pointer;
  background-image: url('./img/icons/left_arrow.svg');
  background-position: center;
  border-radius: 50%;
}

.btn-start{
cursor: pointer;
transition: opacity 0.5s ease-in;
width: 25px;
height: 25px;
background-image: url('./img/icons/start.png');
background-position: center;
border-radius: 50%;
}

.btn-stop{
cursor: pointer;
transition: opacity 0.5s ease-in;
width: 27px;
height: 27px;
background-image: url('./img/icons/stop.png');
background-position: center;
border-radius: 50%;
}

.btn-hide-controls{
cursor: pointer;
background-color: #000;
color: #fff;
}
