.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 10%;
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .controls-hiddens {
    position: absolute;
    bottom: 2%;
    left: 50%; 
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in;
  }
  
  .btn-next {
    position: absolute;
    top: 50%;
    right: 3%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transform: translateY(-50%); 
  }
  
  .btn-prev {
    position: absolute;
    top: 50%; 
    left: 3%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transform: translateY(-50%); 
  }
  
  .hiddens {
    opacity: 0;
  }
  